
h1 {
    /* Extra small devices (phones, less than 768px) */
    font-size: 18px;
  
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 24px;
    }
  
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      font-size: 36px;
    }
  
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }

a h3 {
  color: #fff;
}
  .heads {

    font-size: 14px;
  
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 18px;
    }

  }

  .h3heads {

    font-size: 14px;
  
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 28px;
    }

  }

  p {
    font-size: 18px;
    margin-bottom: 25px;
  }